{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", 
        { 
            "modules": "commonjs",
            "exclude": ["babel-plugin-transform-exponentiation-operator"]
        }]
      ]
    }
  }
}
